* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 4rem;
}

/* Manual Themes */
:root[data-theme='light'] {
  color-scheme: light;
  --bg: white;
  --fg: #141415;
  --green: #38d300;
  --border-color: #38d300;
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --bg: #141415;
  --fg: white;
  --border-color: #38d300;
}

/* System Theme */
:root[data-theme='system'] {
  color-scheme: light dark;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root[data-theme='system'] {
    --bg: white;
    --fg: #141415;
    --border-color: #38d300;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root[data-theme='system'] {
    --bg: #141415;
    --fg: white;
    --border-color: #38d300;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: var(--bg);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-link > svg {
  fill: green;
}

.home-link > svg > path {
  fill: inherit;
}

.theme-selector {
  padding: 0.25rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.page {
  height: 100vh;
  padding-top: var(--header-height);
  margin: 1rem;
}

.donut {
  background-image: radial-gradient(white 25%, black 65%);
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
