* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 4rem;
}

/* Manual Themes */
:root[data-theme='light'] {
  color-scheme: light;
  --bg: white;
  --fg: #141415;
  --green: #38d300;
  --border-color: #38d300;
}

:root[data-theme='dark'] {
  color-scheme: dark;
  --bg: #141415;
  --fg: white;
  --border-color: #38d300;
}

/* System Theme */
:root[data-theme='system'] {
  color-scheme: light dark;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root[data-theme='system'] {
    --bg: white;
    --fg: #141415;
    --border-color: #38d300;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root[data-theme='system'] {
    --bg: #141415;
    --fg: white;
    --border-color: #38d300;
  }
}

body {
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  text-decoration: none;
  color: inherit;
}

.main-header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: var(--header-height);
  padding: 0 1rem;
}

.home-link-container svg:hover {
  transform: rotate(90deg);
  transition: transform 1s ease-in-out;
}

.home-link-container > svg > path {
  fill: var(--fg);
}

.theme-selector {
  border: 1px solid var(--border-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
