* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /*background-color: black;*/
  font-family: sans-serif;
}

.main-header {
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 4rem;
  padding: 0 1rem;
}

.main-nav > ul {
  display: flex;
}

.main-nav > ul > li {
  list-style: none;
}

.main-nav > ul > li > a {
  padding: 1rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
